.questions__section {
    // background: #000 !important;
    .tiptap-vuetify-editor__toolbar {
        header.v-toolbar.theme--dark  {
            background:  #1E1E1E !important;
        }
    }
}

.variant {
 border-radius: 10px;
 border: 1px solid #000;
 padding: 10px;
 margin: 15px 0;

 .border {
     padding: 5px;
     
     .input__text {
         padding: 8px;
         border-radius: 5px;
        border: 1px solid #000;
    }
 }
}