// Ref: https://github.com/nuxt-community/vuetify-module#customvariables
//
// The variables you want to modify
// $font-size-root: 20px;

$switch-thumb-dense-height: 16px;
$switch-thumb-dense-width: 16px;
$switch-thumb-height: 16px;
$switch-thumb-top: 3px;
$switch-track-inset-opacity: 1;
$list-item-min-height: 36px;